

.business-card-body-employees {
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(175px, 1fr) );
    /* gap: 10px; */
    padding-bottom: 25px;
}

.busines-card-body-title {
    grid-column: 1/-1;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-top: 1px solid var(--color-secondary);
}

.business-card-body-employee {
    margin-top: 20px;
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
    cursor: pointer;
    margin: 5px;
    margin: 1rem;
    box-shadow: var(--box-shadow);
    position: relative;
}

.blink .business-card-body-employee {
    min-height: 150px;
}

.business-card-body-employee.create-employee-btn {
    display: flex;
    justify-content: center;
}

.business-card-body-employee .user-bg {
    background: var(--color-primary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    width: 100%;
    transition: var(--transition-duration);
    box-shadow: var(--box-shadow);
}

.business-card-body-employee:hover,
.business-card-body-employee:hover .business-card-body-employee-image img,
.business-card-body-employee:hover .user-bg {
    box-shadow: var(--box-shadow-xl);
}

.business-card-body-employee-image img {
    position: relative;
    width: 80px;
    border-radius: 50%;
    min-height: 80px;
    min-width: 80px;
    box-shadow: var(--box-shadow);
    transition: var(--transition-duration);
    background: var(--color-secondary);
}

.business-card-body-employee-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-card-body-employee-image svg {
    width: 70%;
    height: 70%;
    fill: var(--text-dark);
}

.business-card-body-employee-name {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

.business-card-body-employee-name p:first-child {
    font-size: 1.25rem;
    font-weight: 600;
    opacity: 0.8;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.business-card-body-employee-name p {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.business-card-body-employee-name svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: var(--color-primary);
}