.table {
    width: -webkit-fill-available;
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

.table table {
    border-collapse: collapse;
    overflow-x: scroll;
    display: block;
}

table thead {
    border-bottom: 3px solid var(--color-secondary);
}

tr {
    transition: var(--transition-duration);
}

tr:hover  {
    background-color: var(--color-secondary-light);
}

th, 
td {
    padding: 0.5rem;
    text-align: start;
    border: 1px solid var(--color-secondary);
    white-space: nowrap;
}

td.address,
th.address {
    width: 100%;
}

th a, 
td a {
    text-decoration: none;
    color: var(--text-dark);
}
