.user-open-shifts {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1rem;
}

.user-open-shifts-shift-container {
    background: var(--color-main);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: fit-content;
    border: 1px solid var(--color-secondary);
}

.user-open-shifts-shift-title {
    padding: 15px 10px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark);
    box-shadow: var(--box-shadow);
    position: relative;
    background: var(--color-main);
    z-index: 3;
}

.user-open-shifts-shift-title svg {
    fill: var(--text-dark);
    width: 20px;
    height: 20px;
}

.user-open-shifts-shift-title a {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 5px;
    color: var(--text-dark);
}

.user-open-shifts-shift-body {
    padding: 15px 10px;
    cursor: pointer;
    transition: var(--transition-duration);
    background: var(--color-secondary-light);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
}

.user-open-shifts-shift-body:hover {
    background: var(--color-secondary);
}

.user-open-shifts-shift-body .flex {
    flex-wrap: wrap;
}

.user-open-shifts-shift-body p {
    font-weight: 600;
    font-size: 1.5rem;
}

.user-open-shifts .team {
    padding: 0 10px;
    margin-bottom: 15px;
}

.team .team-members {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.team-member-container {
    margin-right: 10px;
    margin-top: 10px;
}

.team .team-members .team-member {
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--color-main);
}

.user-open-shifts .team-member img {
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
}

.team .team-member-shift-info {
    opacity: 0;
    z-index: 99;
    top: -35px;
    right: -135px;
    position: absolute;
    transition: var(--transition-duration);
    background: var(--color-main);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 0.8rem;
    overflow: hidden;
}

.user-open-shifts .team-member:hover .team-member-shift-info {
    opacity: 1;
}

.user-open-shifts-shift-footer {
    background: var(--color-main);
    padding: 15px 10px;
    position: relative;
    z-index: 1;
}

.user-open-shifts-shift-footer .btn {
    margin: 0;
}

.shift-body-date p:first-of-type {
    font-weight: 600;
    font-size: 1.5rem;
}