:root {
  --danger: #b9505a;
  --warning: #FFF591;
  --success: #A3F7BF;
  --info: #05DFD7;
  --dark: #292929;
  --danger-hover: #88353d;
  --warning-hover: #c9c16b;
  --success-hover: #87cf9f;
  --info-hover: #14beb9;
  --color-primary-hover: #2459a0;

  --color-primary: #2a74d3;
  --color-main: #ffffff;
  --color-secondary-light: #f1f1f1;
  --color-secondary: #dddddd;

  --text-light: #f7f7f7;
  --text-dark: #292929;
  --border-radius: 10px;
  --box-shadow: 2px 2px 6px 0 #29292975;
  --box-shadow-xl: 5px 5px 10px 0 #292929c0;
  --transition-duration: .3s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--colo-main);
  color: var(--text-dark);
  overflow: hidden;
  min-height: 100vh;
}

main {
  padding: 50px 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.d-none {
  display: none;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.align-end {
  align-items: end;
}

.align-between {
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
  /* max-width: 1680px; */
}

.verified {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.not-verified {
  color: var(--danger);
  fill: var(--danger);
}

.bg-danger {
  background-color: var(--danger);
  color: var(--text-dark);
}

.bg-warning {
  background-color: var(--warning)!important;
  color: var(--text-dark);
}

.bg-success {
  background-color: var(--success)!important;
  color: var(--text-dark);
}

.bg-info {
  background-color: var(--info)!important;
  color: var(--text-dark);
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--text-dark);
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: var(--text-light);
}

.bg-main {
  background-color: var(--color-main);
  color: var(--text-dark);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
  color: var(--text-dark);
}

.link {
  color: var(--text-dark);
  text-decoration: none;
  transition: var(--transition-duration);
}

.link:hover {
  opacity: 85%;
}

.link:active {
  opacity: 50%;
}

.text-danger,
.link.link-danger {
  color: var(--danger);
}

.text-warning,
.link.link-warning {
  color: var(--warning);
}

.text-success,
.link.link-success {
  color: var(--success);
}

.text-info,
.link.link-info {
  color: var(--info);
}

.text-primary,
.link.link-primary {
  color: var(--color-primary);
}

.btn-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: var(--transition-duration);
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--dark);
}

.btn-icon svg {
  padding: 3px;
  margin: 0!important;
}

.btn-icon.btn-icon-danger {
  border-color: var(--danger);
}

.btn-icon.btn-icon-danger svg {
  fill: var(--danger);
}

.btn-icon.btn-icon-danger:hover {
  background: var(--danger);
}

.btn-icon.btn-icon-danger:hover svg,
.btn-icon.btn-icon-primary:hover svg {
  fill: var(--text-light);
}

.btn-icon.btn-icon-primary {
  border-color: var(--color-primary);
}

.btn-icon.btn-icon-primary svg {
  fill: var(--color-primary);
}

.btn-icon.btn-icon-primary:hover {
  background: var(--color-primary);
}

.btn-icon:hover {
  background: var(--dark);
  fill: var(--text-light);
}

.btn-group {
  display: flex;
  /* box-shadow: var(--box-shadow); */
  border-radius: var(--border-radius);
}

.btn-group .btn {
  padding: 10px 10px;
  height: 15px;
  max-height: 15px;
  border-right: 0!important;
  border-left: 0!important;
  box-shadow: none!important;
}

.react-datepicker-popper {
  z-index: 10!important;
}

.btn-group .btn {
  border-radius: 0;
}

.btn-group .btn:first-child {
  border: 2px solid var(--color-main)!important;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.btn-group .btn:last-child {
  border: 2px solid var(--color-main)!important;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.btn {
  padding: 7px 14px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  text-align: center;
  border: none;
  background-color: var(--color-main);
  border: 2px solid var(--color-main);
  color: var(--text-dark);
  cursor: pointer;
  user-select: none;
  transition: var(--transition-duration);
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn svg {
  width: 20px;
  height: 20px;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.btn:active {
  outline: none;
  opacity: 75%;
}

.btn.btn-danger {
  background-color: var(--danger);
  border: 2px solid var(--danger);
  color: var(--text-light);
}

.btn.btn-danger:hover {
  background-color: var(--danger-hover);
}

.btn.btn-warning {
  background-color: var(--warning);
  border: 2px solid var(--warning);
  color: var(--text-dark);
}

.btn.btn-success {
  background-color: var(--success);
  border: 2px solid var(--success);
  color: var(--text-dark);
}

.btn.btn-info {
  background-color: var(--info);
  border: 2px solid var(--info);
  color: var(--text-dark);
}

.btn.btn-primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--text-light);
  fill: var(--text-light);
}

.btn.btn-primary:hover {
  background: var(--color-primary-hover);
}

.btn.btn-outline {
  background-color: transparent;
  border: 2px solid var(--dark);
  box-shadow: none;
  fill: var(--text-dark);
}

.btn.btn-outline:hover {
  background-color: var(--dark);
  color: var(--text-light);
  box-shadow: var(--box-shadow);
  fill: var(--text-light);
}

.btn.btn-outline-danger {
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
  box-shadow: none;
}

.btn.btn-outline-danger:hover {
  background-color: var(--danger);
  box-shadow: var(--box-shadow);
  color: var(--text-light);
}

.btn.btn-outline-warning {
  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--text-dark);
  box-shadow: none;
}

.btn.btn-outline-warning:hover {
  background-color: var(--warning);
  box-shadow: var(--box-shadow);
  color: var(--text-light);
}

.btn.btn-outline-success {
  background-color: transparent;
  border: 2px solid var(--success);
  color: var(--text-dark);
  box-shadow: none;
}

.btn.btn-outline-success:hover {
  background-color: var(--success);
  box-shadow: var(--box-shadow);
  color: var(--text-light);
}

.btn.btn-outline-light {
  background-color: transparent;
  border: 2px solid var(--color-main);
  color: var(--text-dark);
  box-shadow: none;
}

.btn.btn-outline-light:hover {
  background-color: var(--color-main);
  box-shadow: var(--box-shadow);
  color: var(--text-dark);
}

.btn.btn-outline-info {
  background-color: transparent;
  border: 2px solid var(--info);
  color: var(--text-dark);
  box-shadow: none;
}

.btn.btn-outline-info:hover {
  background-color: var(--info);
  box-shadow: var(--box-shadow);
}

.btn.btn-outline-primary {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  fill: var(--color-primary);
  box-shadow: none;
}

.btn.btn-outline-primary:hover {
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  color: var(--text-light);
  fill: var(--text-light);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

input {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--color-secondary);
  padding: 8px 12px;
  transition: var(--transition-duration);
  font-size: 1rem;
  min-height: 23px;
}

input[type="range"] {
  cursor: pointer;
  padding: 0;
}

input:hover,
input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.form-group-row {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(175px, 1fr) );
  grid-gap: 10px;
  margin: 16px 0;
}

.form-group-row .form-group {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  animation-name: opacity;
  animation-duration: var(--transition-duration);
}

.form-group label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 8px;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 12px;
}

.mr-1 {
  margin-right: 12px;
}

.ml-1 {
  margin-left: 12px;
}

.mb-1 {
  margin-bottom: 12px;
}

.mx-1 {
  margin: 0 12px;
}

.mY-1 {
  margin: 12px 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 10px;
}

.p-4 {
  padding: 14px;
}

.pe-3 { 
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.title-1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 18px 0;
}

.title-2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 14px 0;
}

.title-3 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 12px 0;
}

.text-hover {
  cursor: pointer;
  transition: var(--transition-duration);
}

.text-hover:hover {
  border-radius: var(--border-radius);
  border-color: var(--color-secondary);
  background: var(--color-secondary);
}

.nav-tab-select {
  display: flex;
  justify-content: space-between;
}

.nav-tab-select p {
  width: 50%;
  font-size: 1.25rem;
  text-align: center;
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: 10px;
  cursor: pointer;
  transition: var(--transition-duration);
}

.nav-tab-select p.selected {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.nav-tab-select p:hover {
  border-bottom: 2px solid var(--color-primary);
}

.blink {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: calc(var(--order) * 100ms);
}

.Toastify {
  z-index: 99999;
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}