.businesses {
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 750px) );
    gap: 25px;
    justify-content: center;
    margin-bottom: 25px; */
    max-width: 850px;
    margin: 0 auto 25px auto;
}

.business-card {
    background: var(--color-main);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: var(--text-dark);
}

.business-card.blink {
    min-height: 50vh;
}

.business-card.blink .business-card-header {
    min-height: 50px;
    background: var(--color-secondary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.business-card.blink .business-card-body-employee {
    height: 80px;
}

.business-card-header {
    padding: 1rem;
    background: var(--color-secondary-light);
}

.business-card-header-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.business-card-header-info-left,
.business-card-header-info-right {
    display: flex;
    align-items: center;
}

.business-card-header-info:first-of-type p {
    font-size: 1.5rem;
}

.business-card-header-info p {
    font-size: 1rem;
}

.business-card-header svg {
    width: 20px;
    height: 20px;
    fill: var(--text-dark);
    margin-right: 5px;
}