.calender-body {
    padding-bottom: 10px;
    margin-top: 20px;
    background: var(--extra-extra-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--light);
    max-width: fit-content;
    margin: 20px auto;
}

.scheduler-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overscroll-behavior: contain;
    border-radius: var(--border-radius);
    padding: 10px 0;
    background: var(--extra-extra-light);
    max-width: fit-content;
    /* max-width: 1920px; */
}

.section-container {
    max-width: fit-content;
    max-height: 65vh;
}

.calender-timestamp .hours {
    font-size: 0.7rem;
    font-weight: 700;
}

.section-row {
    max-width: fit-content;
    min-width: fit-content;
    transition: var(--transition-duration);
}

.section-row.bg-xx-light:hover {
    background: var(--dark);
    box-shadow: var(--box-shadow-sm);
}

.section-row .section-title {
    min-width: 220px;
}

.section-row .section-title .section-name {
    font-weight: 600;
}

.section-row .section-title .section-content,
.section-row .col .section-content {
    border-radius: var(--border-radius);
    margin: 10px;
    height: 50px;
    padding: 0 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    box-shadow: var(--box-shadow-sm);
}

.section-row .section-title,
.section-row .section-holder { 
    min-height: 70px;
    outline: 1px solid var(--light);
    transition: var(--transition-duration);
}

.section-row .shift-parent {
    /* background: var(--extra-extra-light); */
    animation-duration: var(--transition-duration);
}

.section-row .section-holder:hover {
    background: var(--extra-dark);
}

.section-row .section-holder:hover .shift-parent {
    background: var(--extra-dark);
    animation-name: hover;
}

.section-row .section-holder .create-shift div {
    width: 0;
    height: 50px;
    margin: 10px;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
}

.section-row .section-holder:hover .create-shift div {
    width: 100%;
    cursor: pointer;
    box-shadow: var(--box-shadow-sm);
}

.section-row .section-holder .create-shift:active {
    opacity: 75%;
}

.section-row .section-holder .create-shift:active {
    opacity: 75%;
}

.section-row .section-title img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 5px;
}

.section-row .section-title .section-hours svg {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.section-row .section-title .section-hours {
    display: flex;
    opacity: 75%;
    align-items: center;
}

.open-shift .section-img {
    background: var(--info);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.section-row .col {
    padding: 0;
    min-width: 220px;
    max-width: 220px;
}

.calender-body-day .section-row .col {
    flex-basis: 0;
    padding: 0;
    flex-grow: 1;
    max-width: 70px;
    min-width: 70px;
}

.section-row .shift {
    margin: 10px 10px;
    height: 50px;
    position: relative;
    padding: 0 10px;
}

.section-row .shift {
    padding: 0 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--box-shadow-sm);
    transition: var(--transition-duration);
}

.section-row .shift:active {
    opacity: 75%;
}

.section-row .shift .position {
    background-color: var(--extra-dark);
    padding: 2px 3px;
    color: var(--text-light);
    border-radius: 5px;
}

.section-row .shift hr {
    background: var(--extra-extra-light);
    height: 1px;
    border: 0;
}

.section-row .shift .time {
    transition: var(--transition-duration);
}

.section-row .shift .total-hours {
    padding: 2px 3px;
    margin: 0 5px;
    background: var(--extra-dark);
    color: var(--extra-extra-light);
    border-radius: 5px;
}

.section-row .shift:hover .time {
    opacity: 0;
    height: 0;
}

.section-row .shift .edit {
    transition: var(--transition-duration);
    opacity: 0;
    height: 0;
}

.section-row .shift .edit .btn {
    /* padding: 5px;
    flex-grow: 1; */
}

.section-row .shift .edit .btn:nth-of-type(2) {
    /* margin: 0 5px; */
}

.section-row .shift .edit svg {
    height: 100%;
}

.section-row .shift:hover .edit {
    opacity: 1;
    height: 100%;
}

.section-row .shift .stretch {
    width: 10px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    cursor: w-resize;
    z-index: 10;
    right: 0;
}

@media (max-width: 768px) {
    .scheduler-wrapper {
        overscroll-behavior: initial;
    }
}

@keyframes hover {
    0% {
        background: var(--dark);
    }
    100% {
        background: var(--extra-dark);
    }
}