.businesses {
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(550px, 1fr) );
    gap: 25px; */
    /* justify-content: center; */
    margin-bottom: 25px;
    max-width: 1050px;
    margin: 0 auto 25px auto;
}

.business-card {
    background: var(--color-main);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: var(--text-dark);
    margin-bottom: 25px;
    overflow: hidden;
}

.business-card.blink {
    min-height: 50vh;
}

.business-card.blink .business-card-header {
    min-height: 120px;
    background: var(--color-secondary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.business-card.blink .business-card-body-employee {
    height: 80px;
}

.business-card-header {
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    /* background: var(--color-secondary-light); */
}

.business-card-header-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.business-card-header-info a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-dark);
}

.business-card-header-info-left,
.business-card-header-info-right {
    display: flex;
    align-items: center;
}

.business-card .btn-icon {
    width: 30px;
    height: 30px;
    box-shadow: var(--box-shadow);
    transition: var(--transition-duration);
    margin-left: 15px;
}

.business-card-header-info:first-of-type p {
    font-size: 0.75rem;
    background: var(--color-secondary);
    color: var(--text-dark);
    box-shadow: var(--box-shadow);
    font-weight: 600;
    padding: 3px 5px;
    border-radius: var(--border-radius);
}

.business-card-header-info p {
    font-size: 1rem;
}

.business-card-header svg {
    width: 20px;
    height: 20px;
    fill: var(--text-dark);
    margin-right: 5px;
}